# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea
.vscode

# Local development
media/
staticfiles/
*.sqlite3

# Credentials
config/credentials/*
!config/credentials/.gitkeep
